apikey.py
__pycache__/

coor.csv
coor.numbers
main.py
result.json
config.py
chick_fill_A_max_features_extraction_manual.csv
check_fill_A_original_response/Fort_Valley_State_University_1005_State_University_Dr,_Fort_Valley,_GA_31030.json
